.inner {
    margin: 15px;
    color: blue;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
}
.item {
    margin-left: 1em;
}
.container {
    position: relative;
    display: flex;
}
.catch_copy {
    position: absolute;
    top: 45vh;
    left: 0px;
    font-size: 45px;
}
.firstview {
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 65%;
}
.flex {
    width: 900px;
    height: 200px;
    background-color: blue;
}